body{
    padding: 0px;
    margin: 0px;
}
header{
    background: gray;
    padding: 1em;
    text-align: center;
}

header h1{
    display: inline-block;
    margin: 0;
}
header nav{
    float: left;
    display: inline-block;
}
header nav ul{
    margin: 0;
}
header nav ul li{
    display: inline-block;
    list-style: none;
}

header nav ul li a{
    text-decoration: none;
    padding: 2px;
    background: aliceblue;
}
main{
    background: white;
    padding: 4px;
}
footer{
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background: gray;
}
footer p{
    text-align: center;
}